@import "bootstrap-overrides";
.card {
  height: 500px;
  color: black;
  a {
    color: blue;
    text-decoration: none;
  }
  a:hover {
    color: red;
  }
}
a {
  color: black;
  text-decoration: none;
}
